{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block body %}

<div class="jumbotron p-3">
    <div class="well text-center">
        <h1> Patient details </h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <div class="d-flex w-100 justify-content-between">
                    <h2> {{patient.prefix}} {{patient.name}} </h2> 
                      
                    <a href="/" class="btn btn-success btn-xs">Go back to list</a>
                </div>
                <h4> Born {{patient.pretty_birth_date}} </h4>
                <br>
                <div class="d-flex justify-content-center">
                    <h3 > History:</h3>
                </div>

                <form class="form-inline" action="{{ url_for('details', id=patient.id) }}" method="POST">
                    <label for="startDate">Start date:</label>
                    <input type="input" id="startDate" placeholder="YYYY-MM-DD" name="startDate">
                    <label for="endDate">End date:</label>
                    <input type="input" id="endDate" placeholder="YYYY-MM-DD" name="endDate">
                    <button type="submit" class="btn btn-success btn-xs" style="padding: 5px 15px; margin: 10px">Filter</button>
                </form>
                
                {% if med_events|count > 0%}
                <div class="list-group">
                        {% for event in med_events %}
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{event.display}}</h5>
                            <small class="text-muted">{{event.hour}}</small>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <p class="mb-1" style="color:dodgerblue">{{event.value}}</p>
                                <small class="text-muted">{{event.date}}</small>
                            </div>
                        <small class="text-muted">{{event.event_id}}</small>
                        </a>

                        {% endfor %}
                </div>
                {% else %}
                    <div class="jumbotron p-3"> 
                        <div class="well text-center">
                            <h3> No history to show! </h3>
                        </div>
                    </div>
                {% endif %}

            </div>

        </div>

    </div>
    
</div>

<script>
    $('#time').datetimepicker({
    format: 'yyyy-mm-dd'
    });
</script>

{% endblock %}

