{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} {% endblock %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2> Search <b>Patients</b> 
                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAdd"> Add new Patients </button> -->
                </h2>

                {% with messages = get_flashed_messages() %}

                {% if messages %}

                    {% for message in messages %}
                        <div class="alert alert-success alert-dimsissable fade show" role="alert">
                        {{message}}
                            <button type="button" class="btn float-left close" data-dismiss="alert" aria-label="close">
                                <span aria-hidden="true">x</span>
                            </button>
                        </div>
                    {% endfor %}

                {% endif %}
                {% endwith %}

                <table class="table table-hover table-dark table-striped" id="myTable">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>ID</th>
                            <th>Gender</th>
                            <th>Birth Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    {% for row in patients %}
                    <tr>
                        <td>{{row.name}}</td>
                        <td>{{row.id}}</td>
                        <td>{{row.gender}}</td>
                        <td>{{row.pretty_birth_date}}</td>

                        <td>
                            <a href="/details/{{row.id}}" class="btn btn-success btn-xs">Patient details</a>
                            <!-- <a href="/update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal"
                                data-target="#modalEdit{{row.id}}">Edit</a>
                            <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs"
                                onclick="return confirm('Are you sure you want to delete?')">Delete</a> -->
                        </td>
                    </tr>

                    <!-- <div id="modalEdit{{row.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"> Edit Patient</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('update')}}" method="POST">
        
                                        <div class="form-group">
                                            <label>Name:</label>
                                            <input type="hidden" name="id" value="{{row.id}}">
                                            <input type="text" class="form-control" name="name" value="{{row.name}}" required="1">
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Admission Date:</label>
                                            <input type="text" class="form-control" name="admissionDate" value="{{row.admissionDate}}" required="1">
                                        </div>
        
                                        <div class="form-group">
                                            <label>Gender:</label>
                                            <input type="text" class="form-control" name="gender" value="{{row.gender}}" required="1">
                                        </div><br>
                                        <div class="form-group">
                                            <button class="btn btn-warning" type="submit">Save changes</button>
                                        </div>
        
                                    </form>
                                </div>
        
                                <div class="modal-footer">
        
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        
                                </div>
                            
                            </div>
                        </div>
                    </div> -->
                
                {% endfor %}
                </table>

                <!-- <script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("th")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script> -->

<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>

            </div>

            <!-- <div id="modalAdd" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"> Add Patient</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('insert')}}" method="POST">

                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" name="name" required="1">
                                </div>
                                
                                <div class="form-group">
                                    <label>Admission Date:</label>
                                    <input type="text" class="form-control" name="admissionDate" required="1">
                                </div>

                                <div class="form-group">
                                    <label>Gender:</label>
                                    <input type="text" class="form-control" name="gender" required="1">
                                </div><br>

                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Add</button>
                                </div>

                            </form>
                        </div>

                        <div class="modal-footer">

                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                        </div>
                    
                    </div>
                </div>
            </div> -->

        </div>

    </div>
    
</div>

{% endblock %}